<div class="container">
  <div class="jumbotron">
    <h1>Train System</h1>
  </div>

  <a href="/train_schedule">View schedule (all trains)</a>
  <a href="/city_schedule">View schedule (all cities)</a>
</div>
